### Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.iml
HELP.md
### Logs
*.log

### Local config
application.properties

### IntelliJ IDEA
.idea/
out/

### Eclipse
.classpath
.project
.settings/

### VS Code
.vscode/

### macOS
.DS_Store

### Windows
Thumbs.db
Desktop.ini

# Terraform local vars
terraform/terraform.tfvars

# Terraform local state and providers
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
